.canvars-title.for-pie
	position: absolute
	left: 20px
	padding: 0

#pieboxOuter
	overflow:
		x: auto
		y: hidden
	height: 195px
	width: 600px
	position: absolute
	top: 30px
	left: 18px
	
#piebox
	height: 170px
	display: flex
	// justify-content: space-around
	min-width: 600px
	padding-top: 12px

	.canvars-title
		padding: 0 0 10px 

.piebox-item
	display: none
	width: 135px
	// height: 120px

	& + .piebox-item
		// margin-left: 15px