.cal-box.is-editable
	.cal-in
		.cal-item.is-s2
			.cal-status
				svg(width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg')
					rect(x='0.25' y='0.25' width='7.5' height='7.5' rx='0.75' stroke='#B6B6B6' stroke-opacity='0.79' stroke-width='0.5')
			.cal-category 文章
		.cal-item.is-s2
			.cal-status
				svg(width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M14 7C14 10.866 10.866 14 7 14C3.13401 14 0 10.866 0 7C0 3.13401 3.13401 0 7 0C10.866 0 14 3.13401 14 7Z' fill='#F33E3E')
					path(fill-rule='evenodd' clip-rule='evenodd' d='M11.3077 7.53835H2.69232V6.46143H11.3077V7.53835Z' fill='white')
			.cal-category 專欄
		.cal-item.is-s1
			.cal-status
				svg(width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg')
					rect(x='0.25' y='0.25' width='7.5' height='7.5' rx='0.75' stroke='#B6B6B6' stroke-opacity='0.79' stroke-width='0.5')
			.cal-category 朗讀練習

