.cal-box
	.cal-in
		.cal-item.is-s2
			.cal-status
				svg(width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M3.39753 5.93751L1.66253 4.20251C1.56911 4.10888 1.44229 4.05626 1.31003 4.05626C1.17777 4.05626 1.05095 4.10888 0.957529 4.20251C0.762529 4.39751 0.762529 4.71251 0.957529 4.90751L3.04753 6.99751C3.24253 7.19251 3.55753 7.19251 3.75253 6.99751L9.04253 1.7075C9.23753 1.5125 9.23753 1.1975 9.04253 1.00251C8.94911 0.908879 8.82229 0.856262 8.69003 0.856262C8.55777 0.856262 8.43095 0.908879 8.33753 1.00251L3.39753 5.93751Z' fill='#F74769')
			.cal-category 文章
		.cal-item.is-s1
			.cal-status
				svg(width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M3.39753 5.93751L1.66253 4.20251C1.56911 4.10888 1.44229 4.05626 1.31003 4.05626C1.17777 4.05626 1.05095 4.10888 0.957529 4.20251C0.762529 4.39751 0.762529 4.71251 0.957529 4.90751L3.04753 6.99751C3.24253 7.19251 3.55753 7.19251 3.75253 6.99751L9.04253 1.7075C9.23753 1.5125 9.23753 1.1975 9.04253 1.00251C8.94911 0.908879 8.82229 0.856262 8.69003 0.856262C8.55777 0.856262 8.43095 0.908879 8.33753 1.00251L3.39753 5.93751Z' fill='#20A0A0')
			.cal-category 實力衝刺
		.cal-item.is-s1
			.cal-status
				svg(width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M3.39753 5.93751L1.66253 4.20251C1.56911 4.10888 1.44229 4.05626 1.31003 4.05626C1.17777 4.05626 1.05095 4.10888 0.957529 4.20251C0.762529 4.39751 0.762529 4.71251 0.957529 4.90751L3.04753 6.99751C3.24253 7.19251 3.55753 7.19251 3.75253 6.99751L9.04253 1.7075C9.23753 1.5125 9.23753 1.1975 9.04253 1.00251C8.94911 0.908879 8.82229 0.856262 8.69003 0.856262C8.55777 0.856262 8.43095 0.908879 8.33753 1.00251L3.39753 5.93751Z' fill='#20A0A0')
					path(fill-rule='evenodd' clip-rule='evenodd' d='M9.1464 5.85354C8.95114 6.0488 8.63456 6.0488 8.43929 5.85354L4.1464 1.56065C3.95114 1.36538 3.95114 1.0488 4.1464 0.853539C4.34166 0.658277 4.65824 0.658277 4.85351 0.853539L9.1464 5.14643C9.34166 5.34169 9.34166 5.65828 9.1464 5.85354Z' fill='#20A0A0')
			.cal-category 朗讀練習
		.cal-item.is-s2
			.cal-status
				svg(width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M3.39753 5.93751L1.66253 4.20251C1.56911 4.10888 1.44229 4.05626 1.31003 4.05626C1.17777 4.05626 1.05095 4.10888 0.957529 4.20251C0.762529 4.39751 0.762529 4.71251 0.957529 4.90751L3.04753 6.99751C3.24253 7.19251 3.55753 7.19251 3.75253 6.99751L9.04253 1.7075C9.23753 1.5125 9.23753 1.1975 9.04253 1.00251C8.94911 0.908879 8.82229 0.856262 8.69003 0.856262C8.55777 0.856262 8.43095 0.908879 8.33753 1.00251L3.39753 5.93751Z' fill='#F74769')
					path(fill-rule='evenodd' clip-rule='evenodd' d='M9.1464 5.85354C8.95114 6.0488 8.63456 6.0488 8.43929 5.85354L4.1464 1.56065C3.95114 1.36538 3.95114 1.0488 4.1464 0.853539C4.34166 0.658277 4.65824 0.658277 4.85351 0.853539L9.1464 5.14643C9.34166 5.34169 9.34166 5.65828 9.1464 5.85354Z' fill='#F74769')
			.cal-category 音樂
		.cal-item.is-s2
			.cal-status
				svg(width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M3.39753 5.93751L1.66253 4.20251C1.56911 4.10888 1.44229 4.05626 1.31003 4.05626C1.17777 4.05626 1.05095 4.10888 0.957529 4.20251C0.762529 4.39751 0.762529 4.71251 0.957529 4.90751L3.04753 6.99751C3.24253 7.19251 3.55753 7.19251 3.75253 6.99751L9.04253 1.7075C9.23753 1.5125 9.23753 1.1975 9.04253 1.00251C8.94911 0.908879 8.82229 0.856262 8.69003 0.856262C8.55777 0.856262 8.43095 0.908879 8.33753 1.00251L3.39753 5.93751Z' fill='#F74769')
			.cal-category 專欄