.cal-box
	.cal-in
		.cal-item.is-s2.is-right
			.cal-status
			.cal-category 文章
		.cal-item.is-s1.is-right
			.cal-status
			.cal-category 實力衝刺
		.cal-item.is-s1.is-helf
			.cal-status
			.cal-category 朗讀練習
		.cal-item.is-s2.is-helf
			.cal-status
			.cal-category 音樂
		.cal-item.is-s2.is-wrong
			.cal-status
			.cal-category 專欄
