.cal-box.is-editable
	.cal-in
		.cal-item.is-s2
			.cal-status
			.cal-category 文章
		.cal-item.is-s2.is-selected
			.cal-status
			.cal-category 專欄
		.cal-item.is-s1
			.cal-status
			.cal-category 朗讀練習

