.calendar
	.cal-title
			|september, 2020
	.cal-main
		.cal-time
			.cal-area
				|04:00
				br
				.cal-area-text 上午
			.cal-area
				|12:00
				br
				.cal-area-text 下午
			.cal-area
				|18:00
				br
				.cal-area-text 晚上
		.cal-cal
			.cal-week.cal-tr
				.cal-td
					|MON
					span.cal-day 21 
				.cal-td
					|TUE
					span.cal-day 22
				.cal-td
					|WED
					span.cal-day 23
				.cal-td
					|THU
					span.cal-day 24
				.cal-td.is-today
					|FRI
					span.cal-day 25
				.cal-td
					|SAT
					span.cal-day 26
				.cal-td
					|SUN
					span.cal-day 27
			.cal-date.cal-tr
				.cal-td
					include cal-box-pass
					include cal-box-pass
					include cal-box-pass
				.cal-td
					include cal-box-pass
					include cal-box-pass
					include cal-box-pass
				.cal-td
					include cal-box-pass
					include cal-box-pass
					include cal-box-pass
				.cal-td
					include cal-box-pass
					include cal-box-pass
					include cal-box-pass
				.cal-td.is-today
					include cal-box-pass
					include cal-box-pass
					.cal-box.is-editable
				.cal-td
					include cal-box-editable
					.cal-box.is-editable
					.cal-box.is-editable
				.cal-td
					.cal-box.is-editable
					.cal-box.is-editable
					.cal-box.is-editable
