//- ( title & box ) x 3 is self(數位學堂) & fomal(實力衝刺) & life(會話練習)
.collbox-title
	.collbox-row
		.collbox-col 數位學堂
		.collbox-col 己上過堂數
		.collbox-col 建議堂數
		.collbox-col 目前進度
.collbox-box
	.collbox-row
		.collbox-col 老師請解1
		.collbox-col 13%
		.collbox-col 36
		.collbox-col
			.collbox-percent(style='width: 88%') 88%
	.collbox-row
		.collbox-col 老師請解2
		.collbox-col 13%
		.collbox-col 36
		.collbox-col
			.collbox-percent(style='width: 15%') 15%
	.collbox-row
		.collbox-col 老師請解2
		.collbox-col 13%
		.collbox-col 36
		.collbox-col
			.collbox-percent(style='width: 66%') 66%