#pie
	.status-title 學習面向
	#piebox
		// .status-title 學習面向
		// **應前往「js/crm_canvas.js」中增的變數「defaultCanvasHtml.pie」中結構以下變化
		// .piebox-item
		// 	.canvars-title
		// 	canvas#pie0(width='120' height='120')

	.canvas-valbox
		.canvas-valbox-item 
			//.canvas-valbox-name 正規教室
			//.canvas-valbox-block(style='background-color: #aaa')