#pieboxOuter
	#piebox
// **應前往「js/crm_ac_list.js」中增的變數「defaultCanvasHtml.pie」中結構以下變化
// .piebox-item
// 	.canvars-title
// 	canvas#pie0(width='120' height='120')
// .piebox-item
// 	.canvars-title
// 	canvas#pie1(width='120' height='120')
// .piebox-item
// 	.canvars-title
// 	canvas#pie2(width='120' height='120')
// .piebox-item
// 	.canvars-title
// 	canvas#pie3(width='120' height='120')
// .piebox-item
// 	.canvars-title
// 	canvas#pie4(width='120' height='120')
// .piebox-item
// 	.canvars-title
// 	canvas#pie5(width='120' height='120')

.canvas-valbox
	.canvas-valbox-item 
		//.canvas-valbox-name 正規教室
		//.canvas-valbox-block(style='background-color: #aaa')