#foo
	.f1
		| 需要其他協助嗎?  請聯絡我們
		.msg-board(onclick="GoLink('MessageBoard')" title='留言版')
	.f2
		span.f2-1
			| 服務時間：週一～週六 10:00~12:30、13:30~17:30、18:30~22:00  |  02-2523-9777 / 0800-023-777 (限市話)
		span.f2-2
			| © 2020 Brainstorm Digital Communications Corp. All rights reserved. Privacy Policy
