.sambr-canvas
	.canvars-box1
		.canvars-title 學習指標
		canvas#chartRadar(height='140' width='260')
		.radar-item.ritem0
			.radar-now
			.radar-step
		.radar-item.ritem1 
			.radar-now
			.radar-step
		.radar-item.ritem2 
			.radar-now
			.radar-step
		.radar-item.ritem3 
			.radar-now
			.radar-step
		.radar-item.ritem4 
			.radar-now
			.radar-step
		.radar-item.ritem5
			.radar-now
			.radar-step
		.radar-item.ritem6 
			.radar-now
			.radar-step
	