.weekmap-td
	|MON
	span.weekmap-day 21 
.weekmap-td
	|TUE
	span.weekmap-day 22
.weekmap-td
	|WED
	span.weekmap-day 23
.weekmap-td
	|THU
	span.weekmap-day 24
.weekmap-td.is-today
	|FRI
	span.weekmap-day 25
.weekmap-td
	|SAT
	span.weekmap-day 26
.weekmap-td
	|SUN
	span.weekmap-day 27