.week-td
	include week_box_pass
	include week_box_pass
	include week_box_pass
.week-td
	include week_box_pass
	include week_box_pass
	include week_box_pass
.week-td
	include week_box_pass
	include week_box_pass
	include week_box_pass
.week-td
	include week_box_pass
	include week_box_pass
	include week_box_pass
.week-td.is-today
	include week_box_pass
	include week_box_pass
	.week-box.is-editable
.week-td
	include week_box_editable
	.week-box.is-editable
	.week-box.is-editable
.week-td
	.week-box.is-editable
	.week-box.is-editable
	.week-box.is-editable