.week-box.is-editable
	.week-in
		.week-item.is-s2
			.week-status
			.week-category 文章
		.week-item.is-s2.is-selected
			.week-status
			.week-category 專欄
		.week-item.is-s1
			.week-status
			.week-category 朗讀練習

