.week-box
	.week-in
		.week-item.is-s2.is-right
			.week-status
			.week-category 文章
		.week-item.is-s1.is-right
			.week-status
			.week-category 實力衝刺
		.week-item.is-s1.is-helf
			.week-status
			.week-category 朗讀練習
		.week-item.is-s2.is-helf
			.week-status
			.week-category 音樂
		.week-item.is-s2.is-wrong
			.week-status
			.week-category 專欄
