.weekmap-hours(data-edit='true')
	.weekmap-in
		.weekmap-item(data-skin='2')
			.weekmap-status
			.weekmap-text 文章
		.weekmap-item(data-skin='2').is-selected
			.weekmap-status
			.weekmap-text 專欄
		.weekmap-item(data-skin='1')
			.weekmap-status
			.weekmap-text 朗讀練習

