.weekmap
	.weekmap-title
			//- |september, 2020
	.weekmap-main
		.weekmap-time
			.weekmap-area
				|04:00
				br
				.weekmap-area-text 上午
			.weekmap-area
				|12:00
				br
				.weekmap-area-text 下午
			.weekmap-area
				|18:00
				br
				.weekmap-area-text 晚上
		.weekmap-cal
			.weekmap-week.weekmap-tr
				//- include week_week
			.weekmap-date.weekmap-tr
				//- include week_date
