.weekmap-hours(data-edit='false')
	.weekmap-in
		.weekmap-item(data-skin='2', data-done='2')
			.weekmap-status
			.weekmap-text 文章
		.weekmap-item(data-skin='1', data-done='2')
			.weekmap-status
			.weekmap-text 實力衝刺
		.weekmap-item(data-skin='1', data-done='1')
			.weekmap-status
			.weekmap-text 朗讀練習
		.weekmap-item(data-skin='2', data-done='1')
			.weekmap-status
			.weekmap-text 音樂
		.weekmap-item(data-skin='2', data-done='0')
			.weekmap-status
			.weekmap-text 專欄
