.weekmap-td
	include week_map_history
	include week_map_history
	include week_map_history
.weekmap-td
	include week_map_history
	include week_map_history
	include week_map_history
.weekmap-td
	include week_map_history
	include week_map_history
	include week_map_history
.weekmap-td
	include week_map_history
	include week_map_history
	include week_map_history
.weekmap-td.is-today
	include week_map_history
	include week_map_history
	.weekmap-hours(data-edit='true')
.weekmap-td
	include week_map_editable
	.weekmap-hours(data-edit='true')
	.weekmap-hours(data-edit='true')
.weekmap-td
	.weekmap-hours(data-edit='true')
	.weekmap-hours(data-edit='true')
	.weekmap-hours(data-edit='true')