.weekbox
	.week-title
			|september, 2020
	.week-main
		.week-time
			.week-area
				|04:00
				br
				.week-area-text 上午
			.week-area
				|12:00
				br
				.week-area-text 下午
			.week-area
				|18:00
				br
				.week-area-text 晚上
		.week-cal
			.week-week.week-tr
				.week-td
					|MON
					span.week-day 21 
				.week-td
					|TUE
					span.week-day 22
				.week-td
					|WED
					span.week-day 23
				.week-td
					|THU
					span.week-day 24
				.week-td.is-today
					|FRI
					span.week-day 25
				.week-td
					|SAT
					span.week-day 26
				.week-td
					|SUN
					span.week-day 27
			.week-date.week-tr
				//- include partials/week_date
