#block2
	display: flex
	position: relative
	margin-bottom: 55px

	// ====================================
	// == 1
	// ====================================
	.grid1-box
		height: 100%
		display: flex
		flex-direction: column
		justify-content: space-between

	.grid1-item
		text:
			decoration: none
		&.add-hr:first-child
			padding: 0
			border: none
		
		.grid-subtitle
			text-align: center
			line-height: 32px

		img
			width: 100%

	// ====================================
	// == 2
	// ====================================
	.grid2-video
		@include video
		background:
			size: cover
			position: center
		cursor: pointer

// ====================================
// == 3 & 4
// ====================================
#block-mv1
	.grid3, .grid4
		display: flex
		flex-direction: column
		justify-content: space-between

	.grid3-item
		display: flex
		flex-direction: column
		color: $c-t1
		text-decoration: none
		border-top: solid 1px $c-t1
		padding-top: 4%
		cursor: pointer
		&:first-child
			border: none
			padding: 0

	.grid3-hr
		height: 1px
		background-color: #000
		&:last-child
			display: none

	.grid3-img
		width: 45%
		min-height: 55px
		// height: 78px
		background:
			size: cover
			position: center
		margin-right: 12px
		text-decoration: none

	.grid3-box
		width: calc( 55% - 12px )
		display: flex
		flex-direction: column
		// justify-content: center
		text-align: left
		& > *
			
			@include row(2)

	.grid3-ch
		font:
			size: .875rem
			weight: bold
		padding: 
			top: 6px
		color: #000
		line-height: 1.4

	.grid3-sort
		color: $c-t2
		font-size: .75rem
		@extend %row1

	.grid3-en
		font-size: .8125rem
		color: #000

