#block-program2
	display: flex
	flex-direction: column
	margin:
		bottom: 50px

.block-program2-videobox
	display: flex
	justify-content: space-between

	.program-item
		display: flex
		width: calc( 100% / 6 - 16px )
		flex-direction: column
		color: $c-t1
		text-decoration: none
		// border-top: solid 1px $c-t1
		// padding-top: 4%
		cursor: pointer
		&:first-child
			border: none
			padding: 0

	// .program-hr
	// 	height: 1px
	// 	background-color: #000
	// 	&:last-child
	// 		display: none

	.program-img
		// width: 45%
		min-height: 55px
		// height: 78px
		background:
			size: cover
			position: center
		// margin-right: 12px
		text-decoration: none

	.program-box
		// width: calc( 55% - 12px )
		display: flex
		flex-direction: column
		// justify-content: center
		text-align: left
		& > *
			
			@include row(2)

	.program-ch
		font:
			size: .875rem
			weight: bold
		padding: 
			top: 6px
		color: #000
		line-height: 1.4

	.program-sort
		color: $c-t2
		font-size: .75rem
		padding:
			top: 8px
		@extend %row1

	.program-en
		font-size: .8125rem
		color: #000