%share
	display: flex
	align-items: center
	justify-content: center
	font-size: 0
	cursor: pointer
$c-dk: #262626
$h-share: 55px
$h2: 66px

// Main
.title-main
	@extend %share
	padding-bottom: 13px
	height: 114px
	img
		width: 98%
		max-width: 680px

// 升學考試
.title-entrance
	@extend %share
	background: $c-dk
	height: $h-share
	img
		width: 70%

// 通識文章 & 國際時事
.title-general,
.title-news
	@extend %share
	border: solid 3px $c-dk
	height: $h-share
	img
		width: 62%

// music
.title-music
	@extend %share
	background: $c-dk
	// height: 100%
	
	img
		height: 80%

.title-tales
	@extend %share
	border:
		top: solid 2px $c-dk
		bottom: solid 2px $c-dk
	position: relative
	height: $h2

	&:after, &:before
		content: ''
		position: absolute
		width: 100%
		height: 1px
		background: $c-dk
		left: 0
	&:before
		top: 3px
	&:after
		bottom: 3px
	img
		height: 66%

.title-blog
	@extend %share
	background: $c-dk
	height: $h2
	img
		height: 50%

.title-program2
	height: 95px
	display: flex
	justify-content: center
	margin-bottom: 18px
	img
		height: 100%

// --------------------------------
// -- PROGRAM 1
// --------------------------------
.title-program1-1-1
	@extend %share
	cursor: default
	img
		width: 100%

.title-program1-1-2
	@extend %share
	height: 88px
	border: solid 5px $c-t1
	img
		// width: 90%

.title-program1-2
	@extend %share
	border-style: solid
	border-width: 0 5px
	border-color: $c-t1
	position: relative
	height: 60px
	font:
		size: 3rem
		weight: bold
	color: $c-t1
	&:after
		content: ''
		position: absolute
		top: 0
		bottom: 0
		left: 2px
		right: 2px
		border-style: solid
		border-width: 0 2px
		border-color: $c-t1
	img
		width: 80%
