$h: 150px
#sidebar
	z-index: 1

#sidebar-loading
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	margin: auto

#sidebar-scroller
	// height: calc( 100% - 68px - #{$h} )
	height: 400px

#sidebar-under3
	padding: 20px
	background-color: rgba(28,28,28, .55)

#sidebar-under-title
	margin-bottom: 10px
	&:after
		left: 185px

.sidebar-under-box
	padding-bottom: 12px
	&:nth-child(3)
		padding: 0

.sidebar-list-item
	position: relative
	border-bottom: solid 1px #fff
	overflow: hidden
	padding-bottom: 10px
	margin-bottom: 10px
	&:last-child
		border: none

	.gradeR.is-download
		position: absolute
		bottom: 12px
		right: 0
		padding: 0
		i
			font-size: 16px
			margin-left: 7px
			color: #fff

.gradeN
	font:
		size: 1rem!important
		weight: bold
	span
		margin-right: 5px

.gradeCnt
	color: #ddd!important
	
.gradeR.is-download i
	cursor: pointer

.sidebar-under-subtitle
	color: #fff
	font:
		size: .875rem

.sidebar-under-circle
	width: 18px
	height: 18px
	margin: 7px 5px 0
	border-radius: 50%
	opacity: .7
	background-color: #fff
	font-size: 15px
	line-height: 15px
	text:
		align: center
		decoration: none
	cursor: default
	&[data-status='1'], &[data-status='2']
		opacity: 1
		text-decoration: none
	&[data-status='1']
		background-color: #f74768
		color: #fff
		cursor: pointer
		animation: ani-dot 3s linear infinite forwards
	&[data-status='2']
		background-color: #7bbd03
		cursor: pointer
	&[data-status='3']
		background-color: #fff000
		cursor: pointer

@keyframes ani-dot
	50%
		opacity: 1
	75%
		opacity: .5
	100%
		opacity: 1

.sidebar-under-dot
	padding:
		top: 1px
		left: 9px
	display: flex
	flex-wrap: wrap
	span
		margin-top: 7px
		font-size: 12px
		color: #aaa
	.fa.fa-circle
		&[data-status='1'], &[data-status='2'], &[data-status='3'], 
		&[data-status='4'], &[data-status='5']
			opacity: 1
		&[data-status='1']
			color: $c-o1
		&[data-status='2']
			color: $c-o7
		&[data-status='3']
			color: $c-o3
		&[data-status='4']
			color: $c-o4
		&[data-status='5']
			color: $c-o5
