#block0
	height: 50px
	margin-bottom: 8px
	display: flex
	justify-content: space-between
	
#block0-title
	font:
		size: 1.375rem
		weight: bold
	color: $c-blue
	height: 100%
	display: flex
	align-items: center
	&:before
		content: ''
		display: block
		height: 22px
		width: 7px
		background-color: $c-blue
		margin-right: 8px
		border-radius: 2px

#circle-box
	height: 100%
	display: flex
	align-items: center

.circle-item
	width: 40px
	height: 40px
	display: flex
	justify-content: center
	align-items: center
	background:
		color: $c-blue
	border-radius: 50%
	margin-left: 10px