#block1
	display: flex

	a
		text-decoration: none
		

	// ====================================
	// == 1
	// ====================================
	.grid1
		.grid-subtitle
			line-height: 32px
		
		.grid-title
			margin-bottom: 10px

	.grid1-box
		height: calc( 100% - #{$h-title} - 4px - 10px )
		// height: 1600px
		display: flex
		flex-direction: column
		justify-content: space-between

		.grid-content
			// @include row(6)
			// ^v為 text-wrap 而取捨(在moz必需要是block)
			height: 126px
			overflow: hidden
			//
			word-wrap: break-word

	.grid1-item
		position: relative
		&.add-hr
			padding-top: 8px
		&.add-hr:first-child
			padding: 0
			border: none

	.grid1-img
		width: 80px
		float: left
		margin:
			right: 10px
		transform: translateY(5px)

	// ====================================
	// == 2
	// ====================================
	.grid22-box
		display: flex
		flex-direction: column
		justify-content: space-between

	// ====================================
	// == 2-2
	// ====================================
	.grid22-item
		display: flex
		&.add-hr:first-child
			padding: 0
			border: none

	$w2: 280px
	$g2: 15px
	$g2-2: 5px
	.grid22-img
		width: $w2
		background:
			size: cover
			position: center center
		margin-right: 15px

	.grid22-right
		position: relative
		width: calc( 100% - #{$w2} - #{$g2} )
		display: flex
		flex-direction: column
		justify-content: space-between
		.grid-view
			bottom: 5px

	.grid22-ch
		@extend %row1
		color: $c-t1
		font:
			size: 1.125rem
			weight: bold

	.grid22-en
		color: $c-t1
		margin: $g2-2 0
		font:
			size: 1rem
			weight: bold
			family: system-ui
		letter-spacing: .5px
		max-height: 46px
		align-items: center
		line-height: 1.25
		// display: flex

	// ====================================
	// == 3 ALL
	// ====================================
	.grid3
		.grid-title
			&.is-1
				margin-bottom: 10px
			&.is-3,
			&.is-2
				margin: 
					top: $g-hr + 10
					bottom: $g-hr

		.grid-subtitle
			line-height: 32px

	// ====================================
	// == 3-1 VIDEO
	// ====================================
	.grid3-video
		@include video
		margin-bottom: $g-hr
		background:
			size: cover
			position: center
		cursor: pointer

	// ====================================
	// == 3-2 LIVING v
	// ====================================
	.grid3-box
		display: flex
		flex-direction: column
		justify-content: space-between

	.grid3-item
		position: relative
		&.add-hr:first-child
			padding: 0
			border: none
		.grid-content
			@include row(4)

	// ====================================
	// == 3-2 COLUMN
	// ====================================
	.grid32-box
		display: flex
		flex-direction: column
		justify-content: space-between

	.grid32-item
		position: relative
		&.add-hr
			padding-top: 5px
		&:first-child
			padding: 0
			border: none
		.grid-content
			// @include row(6)
			// ^v為 text-wrap 而取捨(在moz必需要是block)
			height: 126px
			overflow: hidden
			//
			word-wrap: break-word
		&.is-repeat
			.grid32-img
				display: none

	.grid32-img
		width: 80px
		height: 55px
		background:
			size: cover
			position: center
		float: right
		margin-left: 10px
		transform: translateY(5px)
	
	// ====================================
	// == 3-4 MAGAZINE
	// ====================================
	.grid3-mgz
		display: block
		background:
			size: contain
			position: center 0

	// ====================================
	// == 4
	// ====================================
	.grid4
		.grid-title
			&.is-1
				margin-bottom: 10px
			&.is-2
				margin:
					top: $g-hr + 10
					bottom: $g-hr


	
	// ====================================
	// == 4-1 LIST
	// ====================================
	.grid4-box
		padding-bottom: $g-hr
		display: flex
		flex-direction: column
		justify-content: space-between

		.grid-subtitle
			padding-bottom: 5px
		
	.grid4-item
		display: flex
		width: 100%
		&.add-hr:first-child
			padding: 0
			border: none
		&[data-category='35']
			.grid4-sort
				background-color: $c-o1
		&[data-category='36']
			.grid4-sort
				background-color: $c-o2
		&[data-category='37'],
		&[data-category='37-14']
			.grid4-sort
				background-color: $c-o3
		&[data-category='38']
			.grid4-sort
				background-color: $c-o4

	.grid4-sort
		color: #fff
		width: 50px
		height: 35px
		display: flex
		align-items: center
		justify-content: center
		background:
			size: contain
			position:  center center
			color: #354616
		margin:
			right: 10px
		border-radius: 7px
		font:
			size: .75rem
		// background-color: #dae0f0
		// &.is-s1
		// 	background-color: greenyellow
		// &.is-s2
		// 	background-color: yellow

	.grid4-right
		// padding-top: 10px
		width: calc( 100% - 56px - 10px )

	.grid4-en
		@extend %row1
		height: 14px
		color: $c-t2
		font:
			size: .75rem

	// ====================================
	// == 4-2 BUTTON 
	// ====================================
	.grid4-wt
		display: block
		position: relative
		background:
			size: cover
			position: center 8px
		& + .grid4-wt
			margin-top: 20px
		&.is-ad
			background-position: center

	.grid4-week
		position: absolute
		left: 0
		right: 0
		text-align: center
		margin: auto
		color: #fff
		bottom: 15%

	// ====================================
	// == 4-2 LIST
	// ====================================
	.grid42-box
		display: flex
		flex-direction: column
		justify-content: space-between
		.grid-subtitle
			padding-top: 8px
			text-align: center

	.grid42-item
		padding-bottom: 10px

		&.add-hr:first-child
			padding-top: 0
			border: none

	.grid42-img
		width: 100%
		background:
			size: cover
			position: center 0

@media screen and (max-width: $bp-narrow)
	$w2: 221px

	#block1
		.grid22-img
			width: $w2
			// height: 93px

		.grid22-right
			width: calc( 100% - #{$w2} )

		.grid22-en
			@include row1

		.grid22-item
			.grid-content
				@include row(3)

		.grid4-week
			font:
				size: .875rem


@media screen and (min-width: $bp-wider)
	#block1
		.grid22-en
			@include row(2)
			min-height: 42px

		.grid22-item
			.grid-content
				@include row(4)

		.grid4-week
			font:
				size: 1rem