#block2
	margin-top: 15px
	display: flex
	position: relative


// ====================================
// == 2
// ====================================
.grid2-video
	@include video

// ====================================
// == 5
// ====================================
.grid5
	position: absolute
	right: 0
	bottom: 0
	width: calc( #{$w-g13} + #{$w-g2} + #{$w-g4} )
	// height:  200px

// ====================================
// == FOR DEMO v
// ====================================
#block2
	.grid1, .grid2, .grid3, .grid4
		height: 520px

.grid5
	background: #bbb