@media screen and (max-width: 1439px)
	#block1
		.grid1-item
			margin-bottom: 15px
			&:last-child
				margin: 0

@media screen and (min-width: 1440px)
	#block1
		.grid1-item
			margin-bottom: 15px
			&:last-child
				margin: 0

		.grid22-item
			&:last-child, &:nth-last-child(2)
				display: none

		.grid3-item
			&:last-child
				display: none

		.grid4-item
			&:last-child, &:nth-last-child(2), &:nth-last-child(3)
				display: none
	#block2