$g: 35px
$w-g13: 20%
$w-g4: 18%
$w-g2: calc( 100% - #{$w-g13} * 2 - #{$w-g4} )

$h-title: 31px

$c-t1: #333
$c-t2: #444

$g-hr: 15px

@mixin title-deco
	border:
		style: solid
		width: 2px 0
		color: #000
	&:before
		content: ''
		width: 100%
		position: absolute
		top: 1px
		left: 0
		border-top: solid 1px #000

// $bp-narrow2:
// $bp-wide2:

	// OFFICE
$c-o1: #f74768
$c-o2: #354e85
$c-o3: #ffbf00
$c-o4: #4e8ea8