#nav
	.wrapper
		min-width: auto!important

// ====================================
// == HEADER_MYLESSON v
// ====================================
#nav2020
	box-shadow: none
	width: calc( 100% - 70px * 2 )
	max-width: 1520px
	z-index: 2

.nav-list-item
	&[onclick="GoLink('Library')"]
		background-color: transparent
		color: #000

	&[onclick="GoLink('Track')"]
		background-color: #f74768
		color: #fff

.nav-hamber
	left: -53px

// ====================================
// == TOOL BAR v
// ====================================
div[onclick="full_tool();"]
	display: flex
	align-items: center
	justify-content: center

.unameb2
	line-height: 41px

.member_DV
	line-height: 1.4