.lightBoxAD
	#DVLight
		height: 100vh
		display: block

	#DIYBoxContent
		padding: 0 !important
		width: 100vw !important
		// background-image: linear-gradient(to right, #c12011, #9c1215)
		// background-color: #a21319!important
		//- vvv  COLOR HERE !!!
		background-image: linear-gradient(to top, #8d8674, #8d8674)
		//- ^^^ COLOR HERE !!!
		position: fixed
		top: 0
		bottom: 0
		left: 0
		right: 0
		height: 100vh !important
		margin: auto !important

	#close
		background: white !important
		height: 29px
		line-height: 19px
		top: 40px !important
		right: 40px
		left: auto !important

	#DIYBoxContent > div:nth-child(2)
		background:
			image: image-url('https://funday.asia/subscription/AD/Certifications-PC.jpg?1100611')
			size: contain
			position: center
			repeat: no-repeat
		height: 97%!important

		img
			display: none