div[data-role='page']
//- vvv COLOR HERE !!!
$share-color: #f26061
//- ^^^ COLOR HERE !!!

@media screen and (orientation: portrait)
	div[data-role='page']
		content: 'portrait'
		& > div
			background:
				size: 95% auto!important
				color: $share-color!important

@media screen and (orientation: landscape)
	div[data-role='page']
		content: 'landscape'
		& > div
			background:
				size: 100% auto!important
				position: center 0!important
				color: $share-color!important
			height: 1186px!important


@media screen and (orientation: landscape) and (min-width: 736px)
	div[data-role='page']
		& > div
			height: 1308px!important


@media screen and (orientation: landscape) and (min-width: 812px)
	div[data-role='page']
		& > div
			height: 1444px!important