.grid3-item
	.grid-subtitle 桃園機場計程車更加專業
	.grid-content 
		|包括中國、日本和韓國在內的亞太國家簽署了世界最大的區域自由貿易協定，簽署國家的人口和經濟產出約佔全球三分之一。同時，這項協定由中國領頭，進一步鞏固了中國在亞太地區的影響力。
		//-經過近十年的談判，區域全面經濟夥伴協定（RCEP）終於在今年東協峰會的最後一天締結完成。RCEP參與國分別是東協10個會員國，以及中國、日本、南韓、澳洲與紐西蘭，使其成為史上最大的自由貿易協定。
		//-|參與國希望透過降低關稅和加強供應鏈，重振受疫情打擊的經濟。此次的協議由中國主導，台灣被排除在外。然而，專家表示，RCEP不太可能對台灣造成嚴重的打擊，因為台灣與RCEP參與國有70％的貿易已經是免關稅。不過，RCEP可能會損害特定產業，例如石化業和紡織業。台灣政府將繼續尋求加入由日本主導的《跨太平洋夥伴關係全面進步協議》（CPTPP），以抵消RCEP帶來的衝擊。CPTPP為美國於2017年退出《跨太平洋戰略經濟夥伴關係協定》（TPP）後改組而成。今年東協峰會上，有個明顯的缺席者是印度，印度因為擔憂國內企業會被廉價的中國產品淹沒，於去年意外退出談判，這加劇了RCEP將使區域動態進一步向中國傾斜的擔憂。隨著美國的區域影響力式微，美
	include grid_bottom