a.grid3-item(href='#')
	.grid3-img(style='background-image: url(https://img.youtube.com/vi/Nw7wwHm4GxU/1.jpg)')
	//- https://img.youtube.com/vi/cq8gCwF5gFY/1.jpg
	//- https://img.youtube.com/vi/lRXurv9txE0/1.jpg
	.grid3-box
		.grid3-sort Cinephile
		.grid3-ch 美好的一年美好的一年美好的一年
		.grid3-en A Good Year
.grid3-hr