.grid4-item
	.grid4-img(style="background-image: url(https://funday.asia/en/pic/201117img-newsC19483-1-1ss.jpg)")
	.grid4-box
		.grid4-ch 桃園機場計程車更加專業
		.grid4-en AI News Anchor Makes Debut in South Korea
