
#status-iframe
	position: relative
	overflow:
		x: hidden
		y: auto

	.font_1
		font-size: 20px
		line-height: 1
		margin-bottom: 6px

	.font_2
		font-size: 17px
		line-height: 1
		margin-bottom: 5px

	.bold
		font-weight: bold

	ol
		margin:
			left: 25px
			bottom: 20px
		font-size: 14px
		li
			margin-bottom: 5px
			line-height: 1.3