$p: 20px
#facemap
	position: absolute
	// top: 77px
	top: 87px
	left: $p
	right: $p

.facemap-link
	display: flex
	height: 20px

.facemap-item
	width: calc( 100% / 7 )
	display: flex
	justify-content: center
	// height: 15px
	background-color: #fff
	align-items: center

#month-prev,
#month-next
	background-color: #fafafa
	cursor: pointer
	position: absolute
	top: $p + 1

#month-prev
	left: 48px

#month-next
	right: 48px

// ====================================
// == FACEMAP LB v
// ====================================
#facemap-lb
	width: 215px
	display: none
	position: absolute
	top: calc( #{$h-title} + #{$padding-inside})
	right: $padding-inside
	background-color: #fff
	height: calc( 100% - #{$h-title} - #{$padding-inside} * 2)
	box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1)
	padding: $p
	border-radius: 10px
	opacity: 0
	transform: translateX(20px)
	transition: .3s
	// &.is-show
	// 	opacity: 1
	// 	transform: translateX(0)
	animation: ani-month .25s linear 1 forwards

@keyframes ani-month
	100%
		opacity: 1
		transform: translateX(0)

#facemap-open
	position: absolute
	top: $padding-inside 
	right: $padding-inside
	width: 18px
	height: 20px
	cursor: pointer
	svg
		width: 100%
		height: 100%

// ====================================
// == TRY TRY TRY v
// ====================================
#try-week
	background-color: red
	cursor: pointer
	position: absolute
	border-radius: 50%
	width: 30px
	height: 30px
	bottom: 0
	left: 0