#achive
	position: relative

#facemap
	// position: absolute
	top: 61px
	left: 0
	width: 100%
	overflow: hidden

.facemap-item
	width: calc( 100% / 7 )
	float: left
	display: flex
	justify-content: center
	height: 15px
	// background-color: #fff

#month-pre,
#month-nex
	background-color: #fafafa
	cursor: pointer
	position: absolute
	top: 0

#month-nex
	right: 0

// ====================================
// == TRY TRY TRY v
// ====================================
#try-week
	background-color: red
	cursor: pointer
	position: absolute
	border-radius: 50%
	width: 30px
	height: 30px
	bottom: 0
	left: 0
