@import 'compass'
@import 'ls1/*.png'
$height: ls1-sprite-height(green_right) + ls1-sprite-height(green_helf) + ls1-sprite-height(green_wrong) + ls1-sprite-height(red_right) + ls1-sprite-height(red_helf) + ls1-sprite-height(red_wrong) + ls1-sprite-height(default) + ls1-sprite-height(selected) + ls1-sprite-height(day_wrong) + ls1-sprite-height(day_pass)
@mixin BG($path)
	@include ls1-sprite($path)
	background-size: auto $height
	width: ls1-sprite-width($path)
	height: ls1-sprite-height($path)

.weekmap-item
	&[data-done='0']
		.weekmap-status
			@include BG(default)
	&[data-done='4']
		.weekmap-status
			@include BG(selected)
	&.is-selected
		.weekmap-status
	// category 1 v
	&[data-skin='1']
		&[data-done='1']
			.weekmap-status
				@include BG(red_right)
		&[data-done='2']
			.weekmap-status
				@include BG(red_helf)
		&[data-done='3']
			.weekmap-status
				@include BG(red_wrong)
	// category 2 v
	&[data-skin='2']
		&[data-done='1']
			.weekmap-status
				@include BG(green_right)
		&[data-done='2']
			.weekmap-status
				@include BG(green_helf)
		&[data-done='3']
			.weekmap-status
				@include BG(green_wrong)


.facemap-item > div
	&[data-face='0']
		@include BG(day_wrong)
		background-image: none
		
	&[data-face='1']
		@include BG(day_pass)

	&[data-face='2']
		@include BG(day_wrong)

