#lbmasker, #lb
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	margin: auto
	display: none
	&.is-hide
		animation: ani-in .3s 0s linear 1 forwards

@keyframes ani-in
	0%
		opacity: 0
		transform: translateY(20px)
	100%
		opacity: 1
		transform: translateY(0)

#lbmasker
	background:
		color: rgba(0,0,0,.8)
	top: -20px
	
#lb
	width: 1280px
	height: 700px
	// display: flex
	align-items: stretch
	overflow: hidden

	.cal-date
		background-color: #f5f5f5
	
	// LB 設定 v ( <-> _calbox.sass NORMAL 設定 )
	.cal-box
		box-shadow: 2px 4px 4px rgba(204, 204, 204, 0.28), -6px -4px 8px #fff
		// border: solid .5px #fff
		transition: .3s
		opacity: .5
		&.is-editable
			cursor: pointer
			opacity: 1
			// background-color: red!important
			&:hover
				// background-color: #aaa
				@extend %cal-box-deco
				box-shadow: 2px 4px 4px rgba(204, 204, 204, 0.28), -6px -4px 8px #fff
	
	.weekmap-title
		font-size: 2rem
		height: 60px

	.weekmap-main
		height: calc( 100% - 60px )

	.weekmap-hours
		padding-top: 20px

#lb-left
	background-color: #eee
	width: $w-lb-left
	box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.11)
	position: relative

#lb-right
	padding: 30px 40px
	background-color: #fafafa
	width: calc( 100% - #{$w-lb-left})

#lb-close
	width: 18px
	height: 19px
	position: absolute
	top: 30px
	right: 40px
	cursor: pointer

@media screen and (min-width: 1281px)
	#lb
		border-radius: 10px
	

// =============================
// == EDIT v
// =============================
#edit-out
	padding: 25px 40px 10px
	
#edit-title
	font:
		size: 1.1875rem
		weight: bold
	color: #5a5a5a
	margin: 0 auto 23px
	width: 110px

	svg
		width: 21px
		height: 20px
		margin:
			right: 5px
			bottom: -2px

.edit-subtitle
	border-bottom:
		style: solid
		width: 1px
	font:
		size: .9375rem
		weight: bold
	padding-bottom: 8px
	margin-bottom: 15px

	&.is-bar1
		border-bottom-color: $c-red
		color: $c-red

	&.is-bar2		
		border-bottom-color: $c-green
		color: $c-green

.edit-box
	font-size: 0
	cursor: pointer
	margin-bottom: 10px
	&[data-skin='1']
		color: $c-red
		.edit-item.active
			background-color: $c-red
			color: #fff
	&[data-skin='2']
		color: $c-green
		.edit-item.active
			background-color: $c-green
			color: #fff

.edit-item,
#edit-unedit
	line-height: 2
	user-select: none
	font-size: .875rem
	display: inline-block
	text-align: center
	line-height: 30px
	border-radius: 10px
	background:
		color: #eee
	box-shadow: -4px -3px 9px rgba(255, 255, 255, 0.95), 1px 4px 7px #ddd
	margin-bottom: 17px
	width: 45%
	&:nth-child(odd)
		margin-right: 10%
	&.active
		text-shadow: 0 0 3px rgba(255,255,255, .8)

#edit-unedit
	cursor: pointer
	color: #494949
	background-color: #d3d3d3
	

// --------------------------------
$lb-h: 100px
$lb-g: 20px
#lb-above
	height: calc( 100% - #{$lb-h} - #{$lb-g})
	margin-bottom: $lb-g
#lb-under
	height: $lb-h

#edit-send,
#edit-clean
	line-height: 36px
	width: 120px
	text-align: center
	font-size: 1rem
	float: right
	cursor: pointer
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)
	border-radius: 15px

#edit-send
	background:
		color: $c-red
	color: #fff

#edit-clean
	background:
		color: #bbb
	color: #333
	margin-right: 12px

// --------------------------------
#sticky
	width: image-width('sticky_top.png')
	margin: 0 auto

#sticky-top
	background:
		image: image-url('sticky_top.png')
		position: 0 0
	height: image-height('sticky_top.png')

#sticky-middle
	background:
		image: image-url('sticky_middle.png')
		position: 0 0
		repeat: repeat-y
	padding: 0 55px
	color: #5a5a5a
	font-size: .9375rem
	b
		display: inline-block
		margin-right: 7px

#sticky-msg
	margin:
		top: 7px
	line-height: 1.4

#sticky-bottom
	background:
		image: image-url('sticky_bottom.png')	
		position: 0 0
	height: image-height('sticky_bottom.png')