#lb // files target 
	&[data-edit='false']
		.weekmap-item
			cursor: pointer

	&[data-edit='true']
		.weekmap-hours
			cursor: cell
			.weekmap-item
				cursor: cell
			&.is-hover
				background:
					image: none
					color: #fff
				cursor: cell
				.weekmap-item
					cursor: default

	.weekmap-hours
		&[data-plan='false']
			opacity: .35
			.weekmap-item
				cursor: default
