.course
	.itemB
		.top-div
			.subTitle 會話
	.about-in
		.starbox
			.starBox
				.starBox-ul
					| 難度
					i.fa.fa-star(aria-hidden='true')
					i.fa.fa-star-o(aria-hidden='true')
					i.fa.fa-star-o(aria-hidden='true')
		.card
			.card-body
				.bg-clr-w3l
					div(style="background-image: url(https://funday.asia/tutor/files/20737-3.jpg)")
				h5.card-titleN Mason
				h5.card-titleR 正規教室 A1
			h2.card-titleF Funday文章回顧:NBA放?
			.itembox
				h5.card-titleB
					| 候位
					.peopleBox
						.peopleBox
							i.fa.fa-user(aria-hidden='true')
							i.fa.fa-user-o(aria-hidden='true')
							i.fa.fa-user-o(aria-hidden='true')
							i.fa.fa-user-o(aria-hidden='true')
							i.fa.fa-user-o(aria-hidden='true')
							i.fa.fa-user-o(aria-hidden='true')
				.card-title-s 我要候位