.sidebar-list-item
	h5.gradeN 
		span A2
		|正規教室
	h5.gradeR 2020/07/30
	.gradeCnt Funday文章回顧:NBA放棄林書豪NBA放棄林書豪?
	h5.gradeR.is-download
		i.fa.fa-play-circle-o(aria-hidden='true')
		i.fa.fa-cloud-download(aria-hidden='true')