.slideout
	.slideout_inner
		.bulletin-topbox
			.bulletinTxt1
				i.fa.fa-graduation-cap(aria-hidden='true')
				|             個人等級
			.bulletinGrade B1
		.bulletin-item
			.bulletinTxt2 複習列表REVIEW
			h5.gradeN A2正規教室
			h5.gradeR 2020/07/30
			.gradeCnt Funday文章回顧:NBA放棄林書豪NBA放棄林書豪?
			h5.gradeR
				i.fa.fa-play-circle-o(aria-hidden='true')
				i.fa.fa-cloud-download(aria-hidden='true')
			.gradeline
			h5.gradeN A2正規教室
			h5.gradeR 2020/07/30
			.gradeCnt Funday文章回顧:NBA放棄林書豪NBA放棄林書豪?
			h5.gradeR
				i.fa.fa-play-circle-o(aria-hidden='true')
				i.fa.fa-cloud-download(aria-hidden='true')
			.gradeline
			h5.gradeN A2正規教室
			h5.gradeR 2020/07/30
			.gradeCnt Funday文章回顧:NBA放棄林書豪NBA放棄林書豪?
			h5.gradeR
				i.fa.fa-play-circle-o(aria-hidden='true')
				i.fa.fa-cloud-download(aria-hidden='true')
			.gradeline
			h5.gradeN A2正規教室
			h5.gradeR 2020/07/30
			.gradeCnt Funday文章回顧:NBA放棄林書豪NBA放棄林書豪?
			h5.gradeR
				i.fa.fa-play-circle-o(aria-hidden='true')
				i.fa.fa-cloud-download(aria-hidden='true')
			.gradeline
			h5.gradeN A2正規教室
			h5.gradeR 2020/07/30
			.gradeCnt Funday文章回顧:NBA放棄林書豪NBA放棄林書豪?
			h5.gradeR
				i.fa.fa-play-circle-o(aria-hidden='true')
				i.fa.fa-cloud-download(aria-hidden='true')
			.gradeline
			h5.gradeN A2正規教室
			h5.gradeR 2020/07/30
			.gradeCnt Funday文章回顧:NBA放棄林書豪NBA放棄林書豪?
			h5.gradeR
				i.fa.fa-play-circle-o(aria-hidden='true')
				i.fa.fa-cloud-download(aria-hidden='true')
			.gradeline
			h5.gradeN A2正規教室
			h5.gradeR 2020/07/30
			.gradeCnt Funday文章回顧:NBA放棄林書豪NBA放棄林書豪?
			h5.gradeR
				i.fa.fa-play-circle-o(aria-hidden='true')
				i.fa.fa-cloud-download(aria-hidden='true')
			.gradeline
			h5.gradeN A2正規教室
			h5.gradeR 2020/07/30
			.gradeCnt Funday文章回顧:NBA放棄林書豪NBA放棄林書豪?
			h5.gradeR
				i.fa.fa-play-circle-o(aria-hidden='true')
				i.fa.fa-cloud-download(aria-hidden='true')
			.gradeline
		.bulletin-homework
			.bulletinTxt2 家庭作業HOMEWORK
			h5.gradeN 寫作練習
			i.fa.fa-circle(aria-hidden='true')
			i.fa.fa-circle(aria-hidden='true')
			i.fa.fa-circle(aria-hidden='true')
			i.fa.fa-circle(aria-hidden='true')
			i.fa.fa-circle(aria-hidden='true')
			br
			h5.gradeN 朗讀練習
			i.fa.fa-circle(aria-hidden='true')
			i.fa.fa-circle(aria-hidden='true')
			i.fa.fa-circle(aria-hidden='true')
			i.fa.fa-circle(aria-hidden='true')
			i.fa.fa-circle(aria-hidden='true')
		#bulletinDiv