<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title icon @1 & @2
		link(href='./css/icon.css' rel='stylesheet')
	body
		.icon-df
		.icon-left