<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title My Lesson page1
		link(href="./css/mylesson_1.css", rel="stylesheet")
		script(src='./assets/plugins/jquery/jquery.1.12.4.min.js')
		//- datapicker v
		script(src='./assets/plugins/jquery-ui/1.12.1.js')
		script(src='./assets/plugins/jquery-ui/i18n/datepicker-zh-TW.js')
		//- cookie
		script(src='https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js')
		//-
		script(src="./js/mylesson.js")
		script(src="./js/review.js")

	body
		#nav
			.wrapper
				.box nav
		#content
			.wrapper
				#main
					#pre-page
						svg(fill='none')
							path(d='M19 2L2 23.5L19 45', stroke='white', stroke-width='4')
					#nex-page
						svg(fill='none')
							path(d='M2 2L19 23.5L2 45', stroke='white', stroke-width='4')
					#member left
					#right
						#above
							#calbox
								#pre-week
									svg(fill='none')
										path(d='M10 22L2 11.7778L10 1.55556', stroke='#DCDCDC', stroke-width='3', stroke-linejoin='round')
								#nex-week
									svg(fill='none')
										path(d='M2 1L10 11.2222L2 21.4444', stroke='#DCDCDC', stroke-width='3', stroke-linejoin='round')
								include partials/calendar
							#achive
								#datepicker
								#facemap
									//- .facemap-item
									//- 	div(data-face='0')
									//- .facemap-item
									//- 	div(data-face='1')
									//- .facemap-item
									//- 	div(data-face='2')
								
								svg#month-pre(width='6' height='15' viewBox='0 0 6 15' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M5.05624 0.963867L0.710449 7.36398L5.05624 13.7641' stroke='#7E7E7E')
							
								svg#month-nex(width='6' height='15' viewBox='0 0 6 15' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M0.756745 13.7641L5.10254 7.36399L0.756746 0.963876' stroke='#7E7E7E')


						#under
							#data data
							#contact contact
				#runway runway
		#foo
			.wrapper
				.box footer
		#lbmasker
		#lb
			#lb-left
			#lb-right
				include partials/calendar