doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title vue
		link(href="./css/mylesson_vue.css", rel="stylesheet")
		//-
		script.
			const memberLevel = 'b2'
		script(src='./assets/plugins/jquery/jquery.1.12.4.min.js')
		script(src='./assets/plugins/chart-js/Chart-2.7.2.min.js')
		script(src='./js/mylesson_pie.js')
		script(src='./js/mylesson_radar.js')
		script(src="./js/mylesson_vue.js")
	body 
		#level
			.level-item a1
			.level-item a2
			.level-item b1
			.level-item b2
			.level-item c1
		#status-box
			#status-left 
				#status-top
					.status-title 課程建議
					#collbox
						//- for scroll v
						.collbox-content
							//- include partials/collect_item
							//- include partials/collect_item
							//- include partials/collect_item
							//- include partials/collect_item
							//- include partials/collect_item
				#status-bottom
					include partials/crm_canvas
					include partials/sa_canvas
			#status-right
				.status-title 養成目標
				#status-iframe
					#status-page

//- --------------------------------
//- NEW STUDY vvvv
//- document.getElementById('id')
//- document.querySelector('#id')
//- document.querySelector('.class')
//- ele.click()
//- ele.textContent // no '()'
//- father.lastchild // 選取父元素內的最後一個「子元素」，應將 html 一行化，去除換行符以避免 travel 抓錯子元素

//- --------------------------------
//- cpn 的行為事件要用 emmit & connect 來連結主 data

//- -----------------------------------
//- const defLvIndex = lvAry.findIndex( (item) => item == memberLevel );
//- 簡化 ^v 通常
//- const defLvIndex = lvAry.findIndex(function(item){
//- 	return item == memberLevel;
//- });

//- -----------------------------------
//- v-for='(item,i) in obj'
//- 來源為 obj => key:value的取值如下
//- key(不是 :key ) => :req_key= 'i'
//- value           => :prop = item <= 其實也是可自訂義 key
//- :key 是不可以用作傳值入 cpn 的
//- 自訂義 key, 如 :req_val 則可代值

//- --------------------------------
//- cpn_radar_item
//- 	:class='{"active": item == 某數據 }'

//- --------------------------------
//- x
//- <div class="collbox-block"
//- 	v-for='(item, i) in reactiveNowSuggest'
//- >
//- reactiveNowSuggest(){
//- 	return this.bigData[this.selectedLevel].suggest;
//- };

//- suggest 寫在 => cpn v^ reactive

//- o
//- <div class="collbox-block"
//- 	v-for='(item, i) in reactiveNowSuggest.suggest'
//- >
//- reactiveNowSuggest(){
//- 	return this.bigData[this.selectedLevel];
//- };

//- --------------------------------
//- 避免 canvas 外掛(Chart.plugins.register函式)文字一再加粗的方法
//- Chart.plugins.register({
//- 	...
//- 	ctx.fillText
//- ^ 文字繪製只執行一次(多次字會變粗)(只一次，但數值變化效果仍在) v
//- ^^^^ (O) 限制文字繪製一次、不再執行
//- vvvv (X) clearRect此會使chart.js被刪去、不再出現
//- v 不是正確清除字體變粗方法，只會使 chart.js 沒有繪製
//- Chart.plugins.register({
//- 	...
//-		ctx.clearRect(0,0,135,135)	

//- --------------------------------
//- chart.js 重繪不需重制 html 結構 (html('') + html(defHtml))

//- --------------------------------
//- computed 之 reactive 使用指南 v
//- 1. 綁定 data
//- 2. 主動行為觸發 methods 函式中的 data
//- 3. 被變化的 data 另名設定入 computed 中
//- 4. 此另名 compouted 函式給 view 中的 cpn 使用

//- --------------------------------
//- 雙層 components，在cpn中引用的cpn要做 end tag (</cpn>) 否則會噴錯