<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title My Lesson Page 2
		link(href="./css/mylesson_template.css", rel="stylesheet")
		script(src='./assets/plugins/jquery/jquery.1.12.4.min.js')
		//- datapicker v

	body
		#nav
			.wrapper
				.box nav
		#content(style="height: 1000px")
			#prev-page
				svg(fill='none')
					path(d='M19 2L2 23.5L19 45', stroke='white', stroke-width='4')
			#next-page
				svg(fill='none')
					path(d='M2 2L19 23.5L2 45', stroke='white', stroke-width='4')
			.wrapper

		include partials/footer