<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title My Lesson Page 2
		link(href="./css/mylesson_2.css", rel="stylesheet")
		script(src='./assets/plugins/jquery/jquery.1.12.4.min.js')
		script(src='./js/mylesson_2.js')
		//-slick v
		//- link(href='./assets/plugins/slick/slick.css' rel='stylesheet' type='text/css')
		script(src='./assets/plugins/slick/slick.min.js')



	body
		#nav
			.wrapper
				.box nav
		#content
			#prev-page
				svg(fill='none')
					path(d='M19 2L2 23.5L19 45', stroke='white', stroke-width='4')
			#next-page
				svg(fill='none')
					path(d='M2 2L19 23.5L2 45', stroke='white', stroke-width='4')
			.wrapper
				#block0
					#block0-title 閱讀與聽力課程
					img(src='images/sidebar_open.svg')
				#block1
					.grid1
						.grid-title 國際時事
						.grid1-box
							include partials/2/block1_grid1_item
							include partials/2/block1_grid1_item
							include partials/2/block1_grid1_item
							include partials/2/block1_grid1_item
							include partials/2/block1_grid1_item
							include partials/2/block1_grid1_item
							include partials/2/block1_grid1_item
							include partials/2/block1_grid1_item

					.grid2
						#sliderbox
							#slider
								div
									a(href='#' style="background-image: url(https://funday.asia/en/pic/201117img-newsC19483-1-1ss.jpg)")
										.grid-subtitle 《天能》上映六天破億1 上映六天破億1 上映六天破億1 上映六天破億1 上映六天破億1
										.grid2-en “Tenet” Rakes in Billions of Dollars After “Tenet” Rakes in Billions of Dollars After
								div
									a(href='#' style="background-image: url(https://funday.asia/en/pic/201117img-newsC19483-1-1ss.jpg)")
										.grid-subtitle 《天能》上映六天破億2
										.grid2-en “Tenet” Rakes in Billions of Dollars After...
								div
									a(href='#' style="background-image: url(https://funday.asia/en/pic/201117img-newsC19483-1-1ss.jpg)")
										.grid-subtitle 《天能》上映六天破億3
										.grid2-en “Tenet” Rakes in Billions of Dollars After...
								div
									a(href='#' style="background-image: url(https://funday.asia/en/pic/201117img-newsC19483-1-1ss.jpg)")
										.grid-subtitle 《天能》上映六天破億4
										.grid2-en “Tenet” Rakes in Billions of Dollars After...

						.grid22-box
							include partials/2/block1_grid22_item
							include partials/2/block1_grid22_item
							include partials/2/block1_grid22_item
							include partials/2/block1_grid22_item

					.grid3
						.grid3-video
							iframe(src="https://www.youtube.com/embed/Nw7wwHm4GxU?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
						.grid-title.is-1 生活新知
						.grid3-box
							include partials/2/block1_grid3_item
							include partials/2/block1_grid3_item
							include partials/2/block1_grid3_item
							include partials/2/block1_grid3_item
							include partials/2/block1_grid3_item
							include partials/2/block1_grid3_item
							include partials/2/block1_grid3_item
							
						.grid-title.is-2 雜誌
						.grid3-mgz(style='background-image: url(https://funday.asia/funMz/2020080019/P1.jpg)')

					.grid4
						.grid-title.is-1 商務情境
						.grid4-box
							include partials/2/block1_grid4_item
							include partials/2/block1_grid4_item
							include partials/2/block1_grid4_item
							include partials/2/block1_grid4_item
							include partials/2/block1_grid4_item
							//- include partials/2/block1_grid4_item
						a.grid4-wt(href='#')
							img(src='images/wt.png')
						.grid-title.is-2 童話故事
						.grid42-box
							include partials/2/block1_grid42_item
							include partials/2/block1_grid42_item
				#block-title
					.grid1
						.grid-title 部落格
					.grid2
						.grid-title 看影片學英文
					.grid3
						.grid-title 賞電影 / 聊新知
					.grid4
						.grid-title 北捷微電影
					.title-group
				#block2
					.grid1
						include partials/2/block2_grid1_item
						include partials/2/block2_grid1_item
						include partials/2/block2_grid1_item
					.grid2
						.grid2-video
							iframe(src="https://www.youtube.com/embed/Nw7wwHm4GxU?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
						include partials/2/block2_grid2_item
					.grid3
						include partials/2/block2_grid3_item
						include partials/2/block2_grid3_item
						include partials/2/block2_grid3_item

					.grid4
						include partials/2/block2_grid3_item
						include partials/2/block2_grid3_item
						include partials/2/block2_grid3_item
						//- include partials/2/block2_grid5_item
					
					.grid5
						include partials/2/block2_grid5_item
						include partials/2/block2_grid5_item
						include partials/2/block2_grid5_item
						include partials/2/block2_grid5_item
						include partials/2/block2_grid5_item
						include partials/2/block2_grid5_item

		include partials/footer