svg(width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg')
	path(d='M3.39753 5.93751L1.66253 4.20251C1.56911 4.10888 1.44229 4.05626 1.31003 4.05626C1.17777 4.05626 1.05095 4.10888 0.957529 4.20251C0.762529 4.39751 0.762529 4.71251 0.957529 4.90751L3.04753 6.99751C3.24253 7.19251 3.55753 7.19251 3.75253 6.99751L9.04253 1.7075C9.23753 1.5125 9.23753 1.1975 9.04253 1.00251C8.94911 0.908879 8.82229 0.856262 8.69003 0.856262C8.55777 0.856262 8.43095 0.908879 8.33753 1.00251L3.39753 5.93751Z' fill='#F74769')
svg(width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg')
	path(d='M3.39753 5.93751L1.66253 4.20251C1.56911 4.10888 1.44229 4.05626 1.31003 4.05626C1.17777 4.05626 1.05095 4.10888 0.957529 4.20251C0.762529 4.39751 0.762529 4.71251 0.957529 4.90751L3.04753 6.99751C3.24253 7.19251 3.55753 7.19251 3.75253 6.99751L9.04253 1.7075C9.23753 1.5125 9.23753 1.1975 9.04253 1.00251C8.94911 0.908879 8.82229 0.856262 8.69003 0.856262C8.55777 0.856262 8.43095 0.908879 8.33753 1.00251L3.39753 5.93751Z' fill='#20A0A0')
svg(width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg')
	path(d='M3.39753 5.93751L1.66253 4.20251C1.56911 4.10888 1.44229 4.05626 1.31003 4.05626C1.17777 4.05626 1.05095 4.10888 0.957529 4.20251C0.762529 4.39751 0.762529 4.71251 0.957529 4.90751L3.04753 6.99751C3.24253 7.19251 3.55753 7.19251 3.75253 6.99751L9.04253 1.7075C9.23753 1.5125 9.23753 1.1975 9.04253 1.00251C8.94911 0.908879 8.82229 0.856262 8.69003 0.856262C8.55777 0.856262 8.43095 0.908879 8.33753 1.00251L3.39753 5.93751Z' fill='#20A0A0')
	path(fill-rule='evenodd' clip-rule='evenodd' d='M9.1464 5.85354C8.95114 6.0488 8.63456 6.0488 8.43929 5.85354L4.1464 1.56065C3.95114 1.36538 3.95114 1.0488 4.1464 0.853539C4.34166 0.658277 4.65824 0.658277 4.85351 0.853539L9.1464 5.14643C9.34166 5.34169 9.34166 5.65828 9.1464 5.85354Z' fill='#20A0A0')
svg(width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg')
	path(d='M3.39753 5.93751L1.66253 4.20251C1.56911 4.10888 1.44229 4.05626 1.31003 4.05626C1.17777 4.05626 1.05095 4.10888 0.957529 4.20251C0.762529 4.39751 0.762529 4.71251 0.957529 4.90751L3.04753 6.99751C3.24253 7.19251 3.55753 7.19251 3.75253 6.99751L9.04253 1.7075C9.23753 1.5125 9.23753 1.1975 9.04253 1.00251C8.94911 0.908879 8.82229 0.856262 8.69003 0.856262C8.55777 0.856262 8.43095 0.908879 8.33753 1.00251L3.39753 5.93751Z' fill='#F74769')
	path(fill-rule='evenodd' clip-rule='evenodd' d='M9.1464 5.85354C8.95114 6.0488 8.63456 6.0488 8.43929 5.85354L4.1464 1.56065C3.95114 1.36538 3.95114 1.0488 4.1464 0.853539C4.34166 0.658277 4.65824 0.658277 4.85351 0.853539L9.1464 5.14643C9.34166 5.34169 9.34166 5.65828 9.1464 5.85354Z' fill='#F74769')
svg(width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg')
	path(d='M3.39753 5.93751L1.66253 4.20251C1.56911 4.10888 1.44229 4.05626 1.31003 4.05626C1.17777 4.05626 1.05095 4.10888 0.957529 4.20251C0.762529 4.39751 0.762529 4.71251 0.957529 4.90751L3.04753 6.99751C3.24253 7.19251 3.55753 7.19251 3.75253 6.99751L9.04253 1.7075C9.23753 1.5125 9.23753 1.1975 9.04253 1.00251C8.94911 0.908879 8.82229 0.856262 8.69003 0.856262C8.55777 0.856262 8.43095 0.908879 8.33753 1.00251L3.39753 5.93751Z' fill='#F74769')


svg(width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg')
	rect(x='0.25' y='0.25' width='7.5' height='7.5' rx='0.75' stroke='#B6B6B6' stroke-opacity='0.79' stroke-width='0.5')
svg(width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
	path(d='M14 7C14 10.866 10.866 14 7 14C3.13401 14 0 10.866 0 7C0 3.13401 3.13401 0 7 0C10.866 0 14 3.13401 14 7Z' fill='#F33E3E')
	path(fill-rule='evenodd' clip-rule='evenodd' d='M11.3077 7.53835H2.69232V6.46143H11.3077V7.53835Z' fill='white')
svg(width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg')
	rect(x='0.25' y='0.25' width='7.5' height='7.5' rx='0.75' stroke='#B6B6B6' stroke-opacity='0.79' stroke-width='0.5')


hr
svg(width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg')
	path(d='M11.2843 7.85735C11.9084 5.06439 10.1501 2.29432 7.35718 1.67023C4.56422 1.04614 1.79415 2.80435 1.17006 5.59732C0.545965 8.39028 2.30418 11.1603 5.09714 11.7844C7.8901 12.4085 10.6602 10.6503 11.2843 7.85735Z' fill='#FFD21F')
	path(d='M3.86836 6.8026C3.76862 6.8023 3.67305 6.76255 3.60252 6.69202C3.53199 6.6215 3.49224 6.52593 3.49194 6.42619V5.52278C3.49224 5.42304 3.53199 5.32747 3.60252 5.25694C3.67305 5.18641 3.76862 5.14666 3.86836 5.14636C3.9681 5.14665 4.06368 5.1864 4.13421 5.25693C4.20474 5.32746 4.2445 5.42303 4.2448 5.52278V6.42619C4.2445 6.52593 4.20474 6.6215 4.13421 6.69203C4.06368 6.76256 3.9681 6.80231 3.86836 6.8026Z' fill='#403408')
	path(d='M8.586 6.8026C8.48626 6.80231 8.39068 6.76256 8.32015 6.69203C8.24962 6.6215 8.20986 6.52593 8.20956 6.42619V5.52278C8.20986 5.42303 8.24962 5.32746 8.32015 5.25693C8.39068 5.1864 8.48626 5.14665 8.586 5.14636C8.68574 5.14666 8.78131 5.18641 8.85184 5.25694C8.92237 5.32747 8.96212 5.42304 8.96242 5.52278V6.42619C8.96212 6.52593 8.92237 6.6215 8.85184 6.69202C8.78131 6.76255 8.68574 6.8023 8.586 6.8026Z' fill='#403408')
	path(d='M3.56964 8.02616C3.54368 8.02616 3.51811 8.03253 3.49519 8.04472C3.47226 8.0569 3.45268 8.07452 3.43815 8.09604C3.42362 8.11756 3.41459 8.14231 3.41186 8.16813C3.40913 8.19394 3.41277 8.22004 3.42247 8.24412C3.63671 8.80917 4.01967 9.29459 4.51935 9.63444C5.01903 9.9743 5.61121 10.1521 6.21545 10.1438C6.82372 10.1489 7.41909 9.96845 7.92217 9.62651C8.42526 9.28458 8.81214 8.79739 9.03123 8.22993C9.04119 8.20576 9.04502 8.1795 9.04238 8.15349C9.03974 8.12747 9.03072 8.10252 9.01611 8.08083C9.0015 8.05915 8.98176 8.04141 8.95865 8.02919C8.93553 8.01698 8.90976 8.01066 8.88361 8.01081L3.56964 8.02616Z' fill='#403408')
	path(d='M6.18655 11.0532C7.28837 11.0532 8.18157 10.5687 8.18157 9.971C8.18157 9.37331 7.28837 8.88879 6.18655 8.88879C5.08473 8.88879 4.19153 9.37331 4.19153 9.971C4.19153 10.5687 5.08473 11.0532 6.18655 11.0532Z' fill='#FF5A58')
svg(width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
	path(d='M8.97021 1.52026L1.29305 9.19742' stroke='#DB5E5E' stroke-width='2' stroke-linejoin='round')
	path(d='M8.97046 9.19751L1.2933 1.52035' stroke='#DB5E5E' stroke-width='2' stroke-linejoin='round')
